<div class="container">
<div class="row">
    <div class="col-md-6">
        <label class="form-label"> Name </label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]='name'>
    </div>
    <div class="col-md-6">
        <label class="form-label"> LastName </label>
        <input type="text" class="form-control" placeholder="LastName" [(ngModel)]='lastName'>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label class="form-label"> Email </label>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]='email'>
    </div>
    <div class="col-md-6">

        <label class="form-label"> Rôle </label>
        <select class="form-control" aria-label="Default select example" [(ngModel)]='role'>
            <option selected value=""></option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)='save()'> Save </button>
    </div>
</div>
</div>

<div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"> Informations candidat </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
             
              <th>Name</th>
              <th>LastName</th>
              <th >Email</th>
              <th > Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of users">
              <td>{{u.name}}</td>
              <td>
                {{u.lastname}}
              </td>
              <td>
                {{u.email}}
              </td>
              <td>
                {{u.role}}
              </td>

            </tr>
            
            
            
          </tbody>
        </table>
      </div>
      </div>
 </div>

