<div class="container">
<div class="row">
    <div class="col-md-6">
        <label class="form-label"> Name </label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]='name'>
    </div>
    <div class="col-md-6">
        <label class="form-label"> LastName </label>
        <input type="text" class="form-control" placeholder="LastName" [(ngModel)]='lastName'>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label class="form-label"> Email </label>
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]='email'>
    </div>
    <div class="col-md-6">

        <label class="form-label"> Rôle </label>
        <select class="form-control" aria-label="Default select example" [(ngModel)]='role'>
            <option selected value=""></option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" (click)='save()'> Save </button>
    </div>
</div>
</div>

